# testing
/main-index/about
test_security.php

# production
/build

# dependencies
/vendor

# environment
.env

# logs
/logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local