body {
  background: #fff !important;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff !important;
}

.section-title h2 {
  text-shadow: 1px 1px 2px #4444;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  max-width: 1140px;
  margin: auto;
}
/*****************************
    NavBar
******************************/
header nav {
  background: #c1363b !important;
  box-shadow: 0px 0px 5px #4444;
}
header nav a.navbar-brand h2 {
  color: var(--bs-white);
}
header nav ul.action-menu .nav-item .nav-link {
  margin: 0px 20px;
  font-size: 18px;
}

.nav-item:hover,
.nav-link:hover {
  color: black !important;
  box-shadow: #5f5950;
}
.nav-item:active,
.nav-link:active {
  color: #9695c4 !important;
}

.navbar-toggler {
  outline: none !important;
  outline-color: transparent !important;
  padding: none !important;
  border: none !important;
  border-radius: none !important;
}

@media (max-width: 567px) {
  header nav a.navbar-brand h2 {
    font-size: 14px;
  }
}
/*****************************
    body
******************************/

/* About section styles */
#about .row {
  margin-bottom: 30px;
}
.school-image {
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px !important;
}
.about-text h3.gapc-custom-border {
  border: 2px solid #c1363b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Staff section styles */
.container h2 {
  text-align: center;
}
.centered-heading {
  text-align: center !important;
}
#staff .card {
  margin-bottom: 30px;
  position: relative;
}

#staff .card .social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#staff .card .social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#staff .card .social-icons a:hover {
  background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 991.98px) {
  #about .row .col-lg-6 {
    margin-bottom: 30px;
  }
}

/*****************************
    footer
******************************/
.text-reset {
  text-decoration: none;
}

.text-reset:hover {
  color: #6c74c4;
}

footer {
  background-color: #c1363b !important;
}
